* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px 0px 40px;
}

.content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  margin: 46px auto 0 auto;
}

.content-main > *:nth-child(1) {
  margin-right: 44px;
}

.main {
  max-width: 896px;
}

@media (max-width: 1176px) {
  .content-main {
    max-width: 896px;
  }
  main {
    max-width: 712px;
  }
  .footer-container {
    max-width: 896px;
  }
}

@media (max-width: 992px) {
  .content-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 710px;
    margin-top: 0;
  }
  .content-main > *:nth-child(1) {
    margin-right: 0px;
  }
  .footer-container {
    max-width: 710px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0px 38px 0px 38px;
  }
  .content-main {
    max-width: 561px;
  }
  main {
    max-width: 545px;
  }
  .footer-container {
    max-width: 561px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0px 0px 0px 0px;
  }
}

.aside-container {
  max-width: 140px;
}

.aside-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aside-logo a img {
  max-width: 120px;
}

.aside-menu {
  margin: 5px 0 0 0;
}

.aside-menu-list {
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
}

.aside-menu-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 30px 7px;
}

.aside-menu-list li img {
  margin: 0 8px 0 0;
}

.aside-menu-list li a {
  margin: 0 0 0 0px;
  color: #34ACA7;
}

.aside-title {
  font-family: 'Verdana';
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 1px dashed #E5E5E5;
  padding: 5px 0 5px 0;
  margin: 0 0 9px 0;
}

.aside-tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-btn {
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 0px 7px 0px;
  color: #34ACA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-btn img {
  max-width: 16px;
}

.aside-btn p {
  font-size: 10px;
  font-style: italic;
  text-align: left;
  padding: 0 0 0 6px;
}

.aside-friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-friends p {
  font-size: 10px;
  font-style: italic;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.aside-friends .aside-friends-btn {
  margin: 15px 0 0 0;
}

@media (max-width: 992px) {
  .aside {
    margin: 0px 0px 20px 0px;
    padding: 20px 0 20px 0;
  }
  .aside-container {
    max-width: 710px;
  }
  .aside-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aside-menu {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .aside-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aside-menu-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80px;
            flex: 0 1 80px;
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .aside-menu-list li img {
    margin: 0px 0px 12px 0px;
  }
  .aside-menu-list li:last-child {
    margin-right: 0;
  }
  .aside-tweet, .aside-friends {
    display: none;
  }
}

@media (max-width: 768px) {
  .aside-menu {
    margin-left: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .aside-menu-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .aside-menu-list li img {
    display: none;
  }
}

@media (max-width: 480px) {
  .aside {
    padding: 32px 19px 32px 19px;
    margin: 0px 0px 10px 0px;
  }
  .aside-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aside-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 24px;
  }
  .aside-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 441px;
            flex: 1 1 441px;
  }
  .aside-menu-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 10px;
  }
  .aside-menu-list li img {
    display: none;
  }
}

.banner-block {
  background-image: url("../img/baner-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 285px 300px 69px 0px;
  position: relative;
}

.banner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner-header {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  background-color: white;
  padding: 14px 29px 14px 25px;
}

.banner-footer {
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: black;
  padding: 14px 29px 14px 25px;
}

.banner .to-left-btn {
  display: none;
}

.banner .to-right-btn {
  display: none;
}

@media (max-width: 768px) {
  .banner-block {
    height: 335px;
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner-title {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .banner-header {
    opacity: 0.6;
  }
  .banner .to-left-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .banner .to-left-btn span {
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    margin-left: 5px;
  }
  .banner .to-left-btn:hover span {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .banner .to-right-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .banner .to-right-btn span {
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    margin-right: 5px;
  }
  .banner .to-right-btn:hover span {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}

.tabs {
  margin: 0 0 31px 0;
}

.tabs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #34ACA7;
}

.tabs-item {
  background-color: #EFF8F7;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 26px 20px 26px 20px;
  cursor: pointer;
}

.tabs-item:hover {
  background-color: #D9EFEC;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tabs-item__active {
  background-color: #D9EFEC;
}

.tabs-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tabs-name {
  font-size: 18px;
  line-height: 18px;
}

.tabs-describtion {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
}

@media (max-width: 1176px) {
  .tabs-item {
    padding: 10px;
  }
  .tabs-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs-name {
    font-size: 14px;
    line-height: 14px;
  }
  .tabs-describtion {
    display: none;
  }
}

@media (max-width: 992px) {
  .tabs {
    margin: 0 0 21px 0;
  }
  .tabs-name {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .tabs {
    display: none;
  }
}

.subscribe {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  margin-bottom: 30px;
  padding: 10px 18px 10px 18px;
}

.subscribe-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form-wrapper label {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  margin-right: 24px;
}

.subscribe-form-wrapper img {
  max-height: 26px;
  margin-right: 16px;
}

.subscribe-form-wrapper input[type="text"] {
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 18px;
  height: 23px;
}

.subscribe-form-wrapper button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F3F3), to(#BBB9B9));
  background: -webkit-linear-gradient(top, #F4F3F3 0%, #BBB9B9 100%);
  background: -o-linear-gradient(top, #F4F3F3 0%, #BBB9B9 100%);
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 7px 17px 7px 17px;
  font-size: 10px;
  line-height: 10px;
  height: 23px;
}

@media (max-width: 992px) {
  .subscribe-form-wrapper img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 768px) {
  .subscribe {
    margin-top: 40px;
    margin-bottom: 26px;
    padding: 10px 18px 10px 18px;
  }
  .subscribe-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe-form-wrapper img {
    max-height: 26px;
  }
  .subscribe-form-wrapper label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-right: 0px;
  }
  .subscribe-form-wrapper input[type="text"] {
    margin-right: 36px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .subscribe-form-wrapper > *:nth-last-child(-n+2) {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .subscribe {
    margin-top: 29px;
    margin-bottom: 29px;
    padding-bottom: 32px;
  }
}

.card {
  margin-bottom: 25px;
}

.card .card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-block .card-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 33%;
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .card-block .card-item > * {
  margin-bottom: 10px;
}

.card .card-block .card-item > *:last-child {
  margin-bottom: 0px;
}

.card .card-block .card-item__image {
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  -webkit-box-flex: 0;
      -ms-flex: 0 1 145px;
          flex: 0 1 145px;
  padding: 10px;
  overflow: hidden;
}

.card .card-block .card-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card .card-block .card-item__heading {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #34ACA7;
}

.card .card-block .card-item__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.card .card-block .card-item__read .card-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
}

.card .card-block .card-item__read .read-button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #34ACA7;
}

.card .card-block .card-item:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 1176px) {
  .card .card-block .card-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 115px;
            flex: 0 1 115px;
  }
}

@media (max-width: 768px) {
  .card .card-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card .card-block .card-item {
    margin-right: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    max-width: 66%;
  }
  .card .card-block .card-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
  .card .card-block .card-item__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }
  .card .card-block .card-item:nth-child(2n) {
    margin-right: 0;
  }
  .card .card-block .card-item:not(:nth-child(-n+2)) {
    margin-top: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 336px;
    margin: 0 auto;
  }
  .card .card-block .card-item {
    margin: 0px 0px 29px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    max-width: 100%;
  }
  .card .card-block .card-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  .card .card-block .card-item__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 25px;
  }
}

.footer-container {
  margin: 0 auto;
  max-width: 1080px;
}

.footer-block {
  border-top: 2px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 8px 35px 8px;
}

.footer-menu a {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #34ACA7;
  border-right: 1px solid #E5E5E5;
  padding-right: 5px;
}

.footer-menu a:last-child {
  border: none;
  padding-right: 0;
}

.footer-copyright {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
  margin-top: 5px;
}

.footer-icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 105px;
          flex: 0 1 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-icons a {
  color: #E5E5E5;
}
